!.mvn/wrapper/maven-wrapper.jar

# External tool builders
.externalToolBuilders/

# CDT- autotools
.autotools

# Annotation Processing
.apt_generated/

### Java ###
# Compiled class file
*.class

# Log file
*.log

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

/target

# Recycle Bin used on file shares
$RECYCLE.BIN/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Some additional ignores (sort later)
*.DS_Store
